<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="baidu-site-verification" content="VSG0lFn3X6" />
    <meta
      name="google-site-verification"
      content="zyEcPq1jgFyqgYn8pi68GvtqtKm_wK_wMXayDmxMoAI"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <title>
      {% if pageTitle.length %}
      {{ pageTitle }}
      {% else %}
      {{ siteName }}
      {% /if %}
    </title>
    {% if post.ext_seo_keywords.length %}
    <meta name="keywords" content="{{ post.ext_seo_keywords }}" />
    {% /if %} {% if post.ext_seo_des.length %}
    <meta name="description" content="{{ post.ext_seo_des }}" />
    {% /if %}
    <link
      href="atom.xml"
      rel="alternate"
      title="{{ siteName }}"
      type="application/atom+xml"
    />
    <link rel="stylesheet" href="asset/main.css" />
    <link rel="stylesheet" href="asset/prism.css" />
    <script
      async
      src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script>
    <script>
      ;(adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: 'ca-pub-9590480193192997',
        enable_page_level_ads: true
      })
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-131078654-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'UA-131078654-1')
    </script>
  </head>

  <body>
    <header>
      <nav id="site-menu">
        <ul>
          {% for m in siteMenu %}
          <li id="{{ m.className }}">
            <a target="{{ m.target }}" href="{{ m.url }}">{{ m.name }}</a>
          </li>
          {% /for %}
        </ul>
      </nav>
      <section id="site-banner">
        <h1></h1>
        <div class="mobile-menu-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </section>
    </header>
    <nav id="main-menu">
      <ul>
        <li><a href="/">Home</a></li>
        {% for c in categoriesTree %}
        <li>
          <a href="{{ c.url }}">{{ c.name }}</a>
        </li>
        {% /for %}
      </ul>
      <ul class="mobile-site-menu">
        {% for m in siteMenu %}
        <li id="{{ m.className }}">
          <a target="{{ m.target }}" href="{{ m.url }}">{{ m.name }}</a>
        </li>
        {% /for %}
      </ul>
    </nav>
    <main id="site-main">
